@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap%27');

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");


* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    font-family: 'Saira', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;


}

.div-contacto{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1{
    font-size: 60px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

form {
    width: 500px;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#trick{
    opacity: 0;
}

.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}


.imgFer{
    margin-top: 37px;
    width: 300px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.social-buttons {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}



.instagram-btn {
    background-color: #E1306C;
    color: #fff;


  }
  .youtube-btn {
    background-color: #FF0000;
    color: #fff;

  }
  .facebook-btn {
    background-color: #3B5998;
    color: #fff;

  }
  .phone-btn {
    background-color: #00BFFF;
    color: #fff;
  }

  .google-maps-btn {
    background-color: #4285F4;
    color: #fff;

  }
  
  .whatsapp-btn {
    background-color: #25D366;
    color: #fff;

  }
  
  /* Estilo */
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    text-decoration:solid;
    margin-bottom: 30px;
    padding: 13px;
    width: 40%;
  }
  .btn:hover {
    opacity: 0.8;
  }
  
  .footer-2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: auto;
  }
  
  .footer-2 p {
    margin: 0;
    font-size: 14px;
  }

  .logoLuss{
    width: 140px;
  }

  .footer-1{
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .footer-1 {
        display: block;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        height: auto;
      }
      
      .footer-1 p {
        margin: 0;
        font-size: 14px;
      }

      .footer-2{
        display: none;
      }
  }
  

@media (max-width: 768px) {
    .container {
        grid-template-columns: 2fr;
  }
}
  


@media (max-width: 550px) {
    .imgFer{
        margin-top: 40px;
        width: 250px;
    }
    h1{
        font-size: 50px;
    }
    form{
      width: 100%;
      padding: 10px;
      margin:  0 10px 0 10px;
    }
  
    label {
      font-size: 14px;
      font-weight: bold;
    }

    .btn{
        width: 60%;
        padding: 10px 10px 10px 10px;
        font-size: xx-large;
    }
    footer{
        width: 100%;
    }
}
  

@media (max-width: 508px) {
  .button-58 {
    min-width: 170px;
  }

  h1{
    text-align: center;
  }
  form{
    width: auto;
    padding: 10px;
  }

  label {
    font-size: 14px;
    font-weight: bold;
}
}


@media (max-width: 420px) {

    .imgFer{
        width: 350px;
    }
    h1{
        text-align: center;
    }
    form{
      width: auto;
      padding: 10px;
    }
  
    label {
      font-size: 30px;
      font-weight: bold;
  }

  input {
    width: 100%;
    padding: 25px 35px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 26px;
  }

  .button-58{
    height: 90px;
    font-size: 30px;
  }

  .btn{
    width: 100%;
  }

  }


  @media (max-width: 260px) {

    .div-contacto h1{
      font-size: 63px;
    }
    .imgFer{
        width: 480px;
    }

    form{
      width: auto;
      padding: 30px;
    }
  
    label {
      font-size: 40px;
      font-weight: bold;
  }

  input {
    width: 100%;
    padding: 35px 45px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 26px;
  }

  .button-58{
    height: 90px;
    font-size: 40px;
  }

  .btn{
    height: 80px;
  }
  }


  