body{
    background-color: white ;
    margin: 0%;
    font-family: 'Poppins',sans-serif;
}

/* INICIO */
.inicio{
    width: 100%;
    height: 110vh;
}

.inicio img{
    width: 100%;
    height: 110%;
    position: absolute;
    object-fit: cover;  
}

.inicio-adelante{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.inicio-adelante-texto{
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
}

.inicio-adelante-texto h1{
    color: white;
    font-size: 50px;
}

.inicio-adelante-texto p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0px;
}

.inicio-adelante-boton{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: none;
    margin: 0 15px 0 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: -10vh;
}

.inicio-adelante-boton:hover{
    background-color: rgba(255, 255, 255, 0.8   );
}

/* BLOQUES */
.bloques{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -10vh;
    position: relative;
}

.bloque1{
    width: 45%;
    height: 100%;
    border: 2px solid black;
}

.bloque1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloque2{
    width: 45%;
    height: 100%;
    border: 2px solid black;
}

.bloque2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}