.main{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 45px;
    font-family: 'Saira', sans-serif;
    letter-spacing: 5px;
    padding: 60px;
}