@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html{
  scroll-behavior: smooth;
  
  --galeria-margin: 25px;
  
}

body{
    background-color: rgb(200, 227, 228) ;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
}

.div-main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}



.div-title{
    background-image:linear-gradient(    to right,
    rgb(50, 209, 215) 2%,
    rgb(14, 166, 154) 2% 8%,
    rgb(18, 171, 177) 8% 15%,
    rgb(144, 200, 225) 15% 5%,
    rgb(177, 210, 215) 5% 30%,
    rgb(157, 206, 213) 30% 15%
    );
    height: 500px;
    padding-top: 240px;

}




#name{
  color: aliceblue;
  font-size: 160px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#subname{
  color: rgb(1, 122, 82);
  font-size: 20px;
  margin-top: 0px;
}

.div-container{
  display: flex;  
}

.div-photo{
  border: 4px solid rgb(0, 0, 0);
  height: 200px;
  flex: 1;
}

.div-info{
  margin-top: 90px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.title{
  font-size: 60px;

}

.div-quienes{
  background-color: rgb(191, 214, 220);
  width: 100%;
}




.div-loquehacemos{
  margin-top: 200px;
  color: rgb(0, 109, 109);
  margin-bottom: 200px;
}

.div-photo2{
  border: 4px solid blue;
  height: 600px;
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 60px;
}

.div-galery{
  display: flex;
  flex-direction: row;
}

.div-ropa{
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
  height: 750px;
  background-color: #67d89060;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 3px 17px -3px rgba(0,0,0,0.92); 

}



.div-contacto{
  color: pink;
  margin-bottom: 200px;
}

.div-container3{
  display: flex;
  flex-direction: row;  
}

.div-photo3{
  width: 33%;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
  background-color: #67d89060;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 5px 23px -2px rgba(0,0,0,0.92); 

}

/*   Galeria Mora   */
.galeria{
  margin: var(--galeria-margin);
}

.galeria-main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--galeria-margin);
  
}

.galeria-menu{
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-color: #67d89060;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 5px 23px -2px rgba(0,0,0,0.92); 
}

.galeria-menu-titulo{
  background-color: rgb(0, 109, 109);
  width: 100%;
  font-size: 20px;
  top: 0;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
}
.galeria-menu-titulo h1{
  margin: 0px;
}

.galeria-menu-imagen img{
  width: 100%;
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy infinite alternate; 
}


/*BOTON WHATSAPP*/
.btn-whats {
  background-color: #67d890;
  border: 1px solid #25D366;
  cursor: grab;
  padding: 8px;
  position: relative;
  width: 200px;
  height: 2.4em;
  transition: 0.5s;
  font-size: 25px;
  border-radius: 0.4em;
  margin-right: 30px;
  box-shadow: 0px 5px 23px -2px rgba(0, 80, 0, 0.92); 

}
.div-container2{
  display: flex;
  background-color: #67d890;
}
  
.btn-whats p {
  position: absolute;
  font-weight: bold;
  top: 0.55em;
  left: 1.5em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #ffffff;
  
}

.btn-whats svg {
  position: absolute;
  top: 0.45em;
  right: 0.7em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1.4em;
  fill: rgb(255, 255, 255)
}

.btn-whats:hover p {
  left: 0.5em;
  color: #fff
}

.btn-whats:hover svg {
  opacity: 1;
}

.btn-whats:hover {
  background-color: #25D366;
}
/*FIN BOTON WHATSAPP*/
/*BOTON INSTAGRAN*/
.btn-ig {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,0,255,1) 0%, rgba(255,45,229,1) 22%, rgba(255,22,66,1) 47%, rgba(250,182,103,1) 77%, rgba(249,250,103,1) 97%);    border: 1px solid #25D366;
  border: none;
  cursor: grab;
  padding: 8px;
  position: relative;
  width: 200px;
  height: 2.4em;
  transition: 0.5s;
  font-size: 25px;
  border-radius: 0.4em;
  opacity: 0.8;
  box-shadow: 0px 5px 23px -2px rgba(67, 1, 110, 0.92); 

}

.btn-ig p {
  position: absolute;
  font-weight: bold;
  top: 0.6em;
  left: 1.5em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #ffffff;
}

.btn-ig svg {
  position: absolute;
  top: 0.45em;
  right: 0.7em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1.4em;
  fill: #fff
}

.btn-ig:hover p {
  left: 0.3em;
  color: #fff
}

.btn-ig:hover svg {
  opacity: 1;
}

.btn-ig:hover {
  opacity: 1;
}

.contacto{
  color: rgb(0, 109, 109);
}

.h1-ropa{
  background-color: rgb(0, 109, 109);
  margin-top: 0;
  height: 40px;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
}

/*FIN BOTON INSTAGRAN*/

/*   FOOTER   */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}


/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}


/*SLIDER*/
.slider-frame {
	width: auto;
  height: auto;
	overflow: hidden;

}

.slider-frame ul {
	display: flex;
  flex-direction: row;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 70%;
	list-style: none;
}

.slider-frame img {
	width: 96%;
}



/*   ANIMACIONES   */

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
@keyframes slidy {
  0% { left: 0%; }
  11% { left: 0%; }
  22% { left: -100%; }
  33% { left: -100%; }
  44% { left: -200%; }
  55% { left: -200%; }
  66% { left: -300%; }
  77% { left: -300%; }
  88% { left: -400%; }
  100% { left: -400%; }
  }

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}


/*   RESPONSIVE   */

@media screen and (max-width:1024px){
  .div-container{
      display:none;
  }

  .div-contacto{
    color: #253fd3;
    font-size: 18px;
  }

  #name{
    font-size: 100px;
  }


  .div-ropa{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .div-photo3{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
@media screen and (max-width:1024px){
  .galeria-main{
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width:820px){
  .div-container{
      display:none;
  }

  .div-contacto{
    color: #25D366;
    font-size: 18px;
  }

  #name{
    font-size: 100px;
  }

  .div-galery{
    display: flex;
    flex-direction: column;
  }

  .div-container3{
    display: flex;
    flex-direction: column;
  }

  .div-galery{
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width:600px){
  .div-container{
      display:none;
  }

  .div-contacto{
    color: #25D366;
    font-size: 18px;
  }

  #name{
    font-size: 100px;
  }

  .div-galery{
    display: flex;
    flex-direction: column;
  }

  .div-container3{
    display: flex;
    flex-direction: column;
  }

  .div-galery{
    display: flex;
    flex-direction: column;
  }

  .div-ropa{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
  }

  .div-photo3{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .div-main{
    width: auto;
  }

  .btn-whats{
    margin-bottom: 30px;
    margin-right: 0px;
  } 

  .slider-frame {
    width: auto;
    height: auto;
    overflow: hidden;
  
  }
  
  .slider-frame ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 400%;
    
    animation: slide 20s infinite alternate ease-in-out;
  }
  
  .slider-frame li {
    width: 70%;
    list-style: none;
  }
  
  .slider-frame img {
    width: 96%;
  }

  
}

@media screen and (max-width:500px){
  .galeria-main{
    grid-template-columns: 1fr;
  }
  .galeria-menu-titulo h1{
    font-size: 19px;
  }
}


@media screen and (max-width:360px){
  .div-container{
      display:none;
  }

  .div-contacto{
    color: #253fd3;
    font-size: 18px;
  }

  #name{
    font-size: 100px;
  }

}

