body{
    background-color: black;
    margin: 0%;
}

.div-main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.div-title{
    background-image:linear-gradient(    to right,
    rgb(50, 209, 215) 2%,
    rgb(14, 166, 154) 2% 8%,
    rgb(18, 171, 177) 8% 15%,
    rgb(144, 200, 225) 15% 5%,
    rgb(177, 210, 215) 5% 30%,
    rgb(157, 206, 213) 30% 15%
    );
    height: 200px;
    padding-top: 50px;
}


#name{
    color: aliceblue;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#subname{
    color: aquamarine;
    font-size: 20px;
    margin-top: 0px;
}

.div-container{
    display: flex;
}

.photo{
    border: 4px solid blue;
    height: 200px;
    flex: 1;
}

.div-info{
    margin-top: 90px;
    color: rgb(98, 83, 112);
    display: flex;
}


.title{
    font-size: 60px;
}

.info{
    background-color: rgb(179, 179, 179);
    max-width: 70%;
    margin-left: 250px;
}

.div-loquehacemos{
    margin-top: 200px;
    color: rgb(98, 83, 112);
}

.photo2{
    border: 4px solid blue;
    height: 600px;
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 60px;
}
