body{
    background-color: black;
    margin: 0%;
}

.div-main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.div-title{
    background-image:linear-gradient(    to right,
    rgb(50, 209, 215) 2%,
    rgb(14, 166, 154) 2% 8%,
    rgb(18, 171, 177) 8% 15%,
    rgb(144, 200, 225) 15% 5%,
    rgb(177, 210, 215) 5% 30%,
    rgb(157, 206, 213) 30% 15%
    );
    height: 200px;
    padding-top: 50px;
}



#name{
    color: aliceblue;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#subname{
    color: aquamarine;
    font-size: 20px;
    margin-top: 0px;
}

.div-container{
    display: flex;
}

.photo{
    border: 4px solid blue;
    height: 200px;
    flex: 1;
}

.div-info{
    margin-top: 90px;
    color: rgb(98, 83, 112);
    display: flex;
}


.title{
    font-size: 60px;
}

.info{
    background-color: rgb(179, 179, 179);
    max-width: 70%;
    margin-left: 250px;
}

.div-loquehacemos{
    margin-top: 200px;
    color: rgb(98, 83, 112);
}

.photo2{
    border: 4px solid blue;
    height: 600px;
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.div-galery{
    margin-top: 160px;
    color: aqua;
}

.photo3{
    border: 4px solid blue;
    height: 80px;
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 60px;
}


/*SLIDER*/

.slider-frame {
	width: 300px;
    height: 500px;
	margin: 50px auto 0;
    border: 30px solid lavender;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 500%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 30;}
	25% {margin-left: 30;}
	
	25% {margin-left: -130%;}
	50% {margin-left: -130%;}
	
	50% {margin-left: -260%;}
	75% {margin-left: -260%;}
	
	75% {margin-left: -380%;}
	100% {margin-left: -380%;}
}

/*FIN DE SLIDER*/

.div-contacto{
    margin-top: 700px;
    color: pink;
    font-size: 50px;
}

/*BOTON WHATSAPP*/
.btn-whats {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 8px;
    position: relative;
    width: 200px;
    height: 2.4em;
    transition: 0.5s;
    font-size: 25px;
    border-radius: 0.4em;
  }
  
  .btn-whats p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
  }
  
  .btn-whats svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1.3em;
    fill: #fff
  }
  
  .btn-whats:hover p {
    left: 0.5em;
    color: #fff
  }
  
  .btn-whats:hover svg {
    opacity: 1;
  }
  
  .btn-whats:hover {
    background-color: #25D366;
  }
  