{% extends "lussary_config/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lussary_config/colaboradores.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
           
    <script src="https://kit.fontawesome.com/db45ae6a39.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}
    Team Lussary - Colaboradores 
{% endblock %}


   
{% block content %}
<div class="contenedor">
    <div class="contenido-f3">
    
        {% for n_card in range(cant_cards) %}
            {% if (n_card == 3) %}
            </div>
            <div class="contenido-f2">
            {% endif %}
            <div class="carta-main">
            <div class="card">
                <a href="{{url_for('Lussary_contribuidores.getContribuidor',nombre=cartas[n_card]['redirect'])}}">
                <div class="content voltear" id="card-{{n_card+1}}">
                    <div class="back">
                        <div class="back-content">
                            <div class="back-blue-part">
                                <img src="{{url_for('static',filename='src/Lussary/LogoLussary.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="front">
                        <div class="front-content">
                            <div class="front-column">
                                <!-- ARRIBA IZQUIERDA -->
                                <div class="valor">
                                    <p><b>{{cartas[n_card]['simbol']}}</b></p>
                                    <img src="{{url_for('static',filename='src/Lussary/Icons/'+cartas[n_card]['icon'])}}" class="icon">
                                    
                                </div>
                                <!-- IZQUIERDA -->
                                <div class="valor">
                                    {% for i in range(cartas[n_card]['cant_simbol']) %}
                                    <img src="{{url_for('static',filename='src/Lussary/Icons/'+ cartas[n_card]['icon'])}}" class="icon-column">
                                    {% endfor %}
                                </div>
                                <!-- ABAJO IZQUIERDA -->
                                <div class="valor">
                                    
                                </div>
                            </div>
                            <div class="front-column">
                                <!-- ARRIBA -->
                                <div class="valor">
                                    
                                </div>
                                <!-- CENTRO -->
                                <div class="valor" >
                                    <div class="centro-content recortado"  style="background-image: url({{url_for('static',filename='src/Lussary/Colaboradores/'+cartas[n_card]['url_foto'])}});">
    
                                    </div>
                                    <div class="centro-content" style="background-image: url({{url_for('static',filename='src/Lussary/Colaboradores/'+cartas[n_card]['url_foto'])}});">
                                        <div class="difuminado" id="difuminado-{{n_card+1}}">
    
                                        </div>
                                    </div>
                                </div>
                                <!-- ABAJO -->
                                <div class="valor girar">
                                    
                                </div>
                            </div>
                            <div class="front-column">
                                <!-- ARRIBA DERECHA -->
                                <div class="valor">
                                    <p></p>
                                </div>
                                <!-- DERECHA -->
                                <div class="valor girar">
                                    {% for i in range(cartas[n_card]['cant_simbol']) %}
                                    <img src="{{url_for('static',filename='src/Lussary/Icons/'+ cartas[n_card]['icon'])}}" class="icon-column">
                                    {% endfor %}
                                </div>
                                <!-- ABAJO DERECHA -->
                                <div class="valor girar">
                                    <p><b>{{cartas[n_card]['simbol']}}</b></p>
                                    <img src="{{url_for('static',filename='src/Lussary/Icons/'+cartas[n_card]['icon'])}}" class="icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            </div>
        {% endfor %}
    </div>
</div>




<!-- CUSTOM CSS -->
<script src="{{ url_for('static',filename='js/lussary_config/colaboradores.js') }}"></script>

{% endblock %}