{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename=/css/lussary_config/galeria.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    {% block title %}
    Team Lussary - Galeria
    {% endblock %}

<body>
    {% block content %}

    <div class="div-aclaracion">
        <h1 class="galeria-titulo">GALERIA DE PROYECTOS</h1>
        <img class="imagen-lussary" src="{{ url_for('static',filename='src/Lussary/LogoBlackSinLetras.png') }}" alt="">
        <h1 style="font-style: italic;">"Estamos trabajando en la galería más fachera jamás vista..."</h1>
        <h4>-  Team Lussary</h4>

        <a href="{{ url_for('Home.getHomePrincipalPageLussary')}}">VOLVER</a>
    </div>
    {% endblock %}
</body>