{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/lussary_config/galeria.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    {% block title %}
    Team Lussary - Galeria
    {% endblock %}

<body>
    {% block content %}

    <h1 class="galeria-titulo">GALERIA DE PROYECTOS</h1>

    <hr class="galeria-hr">

    <!--
    <div class="galeria-imagenes">
        <div class="galeria-imagenes-div">
            <img class="galeria-imagenes-imagen" src="/static/src/fernanfloo.jpeg" alt="">
            <div class="galeria-imagenes-panel">
                <img src="" alt="" class="galeria-imagenes-panel-imagen">
                <p class="galeria-imagenes-panel-texto">VEME</p>
            </div>
        </div>

        <div class="galeria-imagenes-div">
            <img class="galeria-imagenes-imagen" src="" alt="">
            <div class="galeria-imagenes-panel">
                <img src="" alt="" class="galeria-imagenes-panel-imagen">
            <p class="galeria-imagenes-panel-texto">Fermag</p>
            </div>
            
        </div>
    </div>
    -->

    <h1 class="a">PROXIMAMENTE...</h1>

    {% endblock %}
</body>