{% extends "lussary_config/base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lussary_config/galeria.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/src/Lussary/LogoLussary.png" />
    {% endblock %}
    
    {% block title %}
    Team Lussary
    {% endblock %}

    {% block content %}
    
    <div class="div">
        {% for g in galeria %}
        <div class="card">
            <div class="content">
                <div class="back">
                    <div class="back-content">
                        <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
                            <img src="{{url_for('static',filename=g[0])}}" alt="">         
                        </svg>
                        <strong>{{g[1]}}</strong>
                    </div>
                </div>
    
                <div class="front">
                    <div class="img">
                        <img src="{{url_for('static',filename=g[2])}}" alt="">
                    </div>
        
                    <div class="front-content">
                        <small class="badge">{{g[1]}}</small>
                        <div class="description">
                            <p class="title">
                                <strong><a href="{{g[3]}}">VER PÁGINA</a></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
    
    
    {% endblock %}
