{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lussary_config/informacion.css') }}">
    <script src="{{url_for('static', filename='js/lussary_config/informacion.js')}}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="LogoBlackSinLetras.png">

{% endblock %}


   
{% block content %}


{% endblock %}