{% extends "lussary_config/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lussary_config/personas.css') }}">
    <link rel="shortcut icon" href="LogoBlackSinLetras.png">
{% endblock %}


{% block title %} Personas Lussary {% endblock %}

    

{% block content %}
    <div class="contenido">
        <div class="carta">
            <div class="carta-main">
                <div class="carta-menu">
                    <div class="carta-foto">
                        <img src="{{url_for('static',filename='/src/Lussary/LogoLussary.png')}}" alt="">
                    </div>
                </div>
                <div class="carta-menu">
                    
                </div>
            </div>
            <div class="carta-socialMedia">

            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/lussary_config/personas.js')}}"></script>
{% endblock %}