{% extends "base.html" %}



<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/lussary_config/settings_css.css') }}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    {% block title %}
    Lussary Company
    {% endblock %}

</head>

<body>
    {% block content %}

    <div class="principio">
        <img class="logo" src="/static/src/LogoBlack.png" alt="Logo">
        <span class="material-symbols-outlined flecha">
            <a class="flecha-flecha" href="">expand_circle_down</a> 
            </span>
    </div>

    <div class="frase">
        <h1 class="frase-frase">"El arte desafia a la tecnologia, y la tecnologia inspira al arte."</h1>
        <p class="autor-frase">John Lasseter</p>
    </div>


<div class="informacion">
    <div class="quienesSomos">
        <span class="material-symbols-outlined simbolo">
            unknown_document
            </span>
        <h1 class="titulo-QuienesSomos">¿Quiénes somos?</h1>
        <p class="texto-QuienesSomos">
            Somos un grupo de cinco personas que quiso comenzar un emprendimiento de desarrollo web un 17 de Enero del año 2023.
            <br>
            Trabajamos juntos para diseñar y desarrollar nuestros proyectos de la mejor manera posible.
        </p>
    </div>

    <hr>

    <div class="comoEmpezamos">
        <span class="material-symbols-outlined simbolo">
            tips_and_updates
            </span>
        <h1 class="titulo-comoEmpezamos">¿Cómo empezamos?</h1>
        <p class="texto-comoEmpezamos">
            Todo comenzó una noche cualquiera en una sala de Discord, uno de nosotros propuso la idea de comenzar un emprendimiento, por lo cual, nos quedamos toda esa noche planificando y viendo los pros y los contras con los que nos íbamos a enfrentar.
        </p>
    </div>

    <hr>

    <div class="queHacemos">
        <span class="material-symbols-outlined simbolo">
            checklist
            </span>
        <h1 class="titulo-queHacemos">¿Qué hacemos?</h1>
        <p class="texto-queHacemos">
            Nosotros nos dedicamos a diseñar cualquier tipo de página o aplicación web, por supuesto, que a gusto del cliente.
            <br>
            A continuación, podrán ver en nuestra galería algunos de los proyectos con los que estuvimos trabajando para diferentes empresas.
        </p>
    </div>
</div>


    

    <div class="proyectos">
        <h1 class="titulo-proyectos">Nuestros proyectos</h1>
        <h2 class="barra-proyectos">__________</h2>
        <p class="frase-proyectos">"La creatividad es la inteligencia divirtiéndose."</p>
        <p class="autor-proyectos">ALbert Einstein</p>
        <a class="boton-proyectos" href="">Galeria</a>
    </div>



    <div class="pibes">
        <h1 class="titulo-pibes">5 PIBES, 1 PROYECTO.</h1>
        <hr>
        <div class="tarjetas-pibes">
            <div class="morais-pibes">
                <img src="/static/src/perrito.jpg" alt="Foto" class="foto-pibes">
                <p class="nombre-pibes">Morais, Joaquín</p>
                <hr>
                <p class="titulo-tarjetas-pibes">Programador</p>
                <a href="" class="link1-pibes">in</a>
                <a href="" class="link2-pibes">GitHub</a>
            </div>

            <div class="fini-pibes">
                <img src="/static/src/perrito.jpg" alt="Foto" class="foto-pibes">
                <p class="nombre-pibes">Fini Minué, Marco</p>
                <hr>
                <p class="titulo-tarjetas-pibes">Programador</p>
                <a href="" class="link1-pibes">in</a>
                <a href="" class="link2-pibes">GitHub</a>
            </div>

            <div class="salonia-pibes">
                <img src="/static/src/perrito.jpg" alt="Foto" class="foto-pibes">
                <p class="nombre-pibes">Salonia, Agustín</p>
                <hr>
                <p class="titulo-tarjetas-pibes">Programador</p>
                <a href="" class="link1-pibes">in</a>
                <a href="" class="link2-pibes">GitHub</a>
            </div>

            <div class="diaz-pibes">
                <img src="/static/src/perrito.jpg" alt="Foto" class="foto-pibes">
                <p class="nombre-pibes">Diaz Broilo, Alejo</p>
                <hr>
                <p class="titulo-tarjetas-pibes">Programador</p>
                <a href="" class="link1-pibes">in</a>
                <a href="" class="link2-pibes">GitHub</a>
            </div>

            <div class="blazquez-pibes">
                <img src="/static/src/perrito.jpg" alt="Foto" class="foto-pibes">
                <p class="nombre-pibes">Blázquez, Máximo</p>
                <hr>
                <p class="titulo-tarjetas-pibes">Programador</p>
                <a href="" class="link1-pibes">in</a>
                <a href="" class="link2-pibes">GitHub</a>
            </div>
        </div>
    </div>

    <!-- BOTON DE CONTACTO ---------------------------------------------------------------------- -->

    <div class="contactanos">
        <h1 class="titulo-contactanos">CONTACTANOS</h1>
        <div class="botones-contactanos">
            <button class="instagram">Instagram</button>
            <button class="whatsapp">Whatsapp</button>
            <button class="twitter">Twitter</button>
            <button class="tiktok">Tik Tok</button> 
        </div>
    </div>

    <!-- FIN DEL BOTON DE CONTACTO -------------------------------------------------------------- -->

    <div class="final">
        <p class="ig"></p>
    </div>

    {% endblock %}
</body>

</html>
