{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/clientes/VEME/VEME_css.css') }}">

    <title>Document</title>
    {% endblock %}

</head>
<body>
    {% block content %}
    <div class="div-main">
        <div class="div-title">
            <div class="div-fondo">
                <h1 id="name">VEME</h1>
                <h6 id="subname">Indumentaria Femenina</h6>
            </div>
        </div>
        <div class="div-container">
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
        </div>
        <div class="div-info">
            <div class="div-quienes">
                <h1 class="title">QUIENES SOMOS?</h1>
                <h3 class="info">Somos...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
                </div>
            </div>

            <div>
                <div class="div-loquehacemos">
                    
                    <h1 class="title">LO QUE HACEMOS</h1>

                    <div class="div-container">
                        <div class="photo2">FOTO1</div>
                        <div class="photo2">FOTO2</div>
                        <div class="photo2">FOTO3</div>
                    </div>
                      
                </div>
            </div>
        </div>

    </div>

    {% endblock %}
</body>
</html>






