{% extends "lussary_config/base.html" %}

    {% block head %}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lussary_config/info-politica.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/src/Lussary/LogoLussary.png" />
    {% endblock %}
    
    {% block title %}
    Team Lussary
    {% endblock %}

    {% block content %}
    
    <div class="informacion">
        <div class="azul"></div>
        <div class="contenido">
            <h1>{{titulo}}</h1>
            <hr>
            {% for c in contenido %}
                <h2>{{c[0]}}</h2>
                <p>{{c[1]}}</p>
            {% endfor %}
        </div>
    </div>
    
    {% endblock %}