{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/fermag.css') }}">
    {% endblock %}
    
    {% block title %}
    Fermag S.A.
    {% endblock %}

<body>
    {% block content %}

    <script src="/static/js/clientes/Fermag/fermag.js"></script>

    <div class="inicio" id="inicio">
        <img src="/static/src/clientes/Fermag/fondo1.png" alt="" id="img">
        <!--<img src="{{ url_for('static',filename='src/clientes/Fermag/fondo1.png') }}" alt="Fondo1">-->
        <div class="inicio-adelante">
            <button class="atras" id="izquierda"> < </button>
            <div class="inicio-adelante-texto">
                <h1>FERMAG S.A.</h1>
                <p>DOMOTICA, ENERGIAS RENOVABLES Y UPS</p>
            </div>
            <button class="adelante" id="derecha" onclick=""> > </button>
            
        </div>
    </div>

    <!-- CAMBIAR EL VIDEO E IMAGEN SEGUN LO QUE ELLOS PIDAN EN SU MOMENTO -->
    <div class="bloques">
        <div class="bloque1">
            <video src="/static/src/clientes/Fermag/perrito.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
        </div>

        <div class="bloque2">
            <img src="/static/src/clientes/Fermag/fondo4.png" alt="">
        </div>
    </div>

    {% endblock %}
</body>