{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/proyectoss.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

    {% endblock %}
    
    {% block title %}
    Fermag S.A.
    {% endblock %}

    {% block content %}

    {% for descripcion in descripciones %}
    <div class="main">
        <h2>salo se come a tyler</h2>

        <div class="title">
            <h1>{{descripcion.nombre}}</h1>
        </div>
        <hr style="width: 80%; border-top: 3px solid rgb(0, 0, 0);">
        <div class="proyecto-container">
            <div class="proyecto-title">
                <h1>PROYECTO</h1>
                <p>{{descripcion.proyectoDescripcion}}</p>   
                <h1 style="margin-top: 160px;">CLIENTE</h1>
                <p>{{descripcion.cliente}}</p>        
            </div>

            <div class="proyecto-img" style="background-image: url({{descripcion.img}});">
                <h1>IMG REPRESENTATIVA</h1>                
            </div>
        </div>
        <div class="infoadicional-container">
            <div>
                <h1>DESCRIPCION</h1>
                <p>{{descripcion.descripcion3}}</p>
            </div>
    
            <div class="ubicacion-container">
                <h1>UBICACION</h1>
                <p>{{descripcion.ubicacion}}</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30560.850821222513!2d-3.0079794!3d16.77138355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe17ce977cbc8733%3A0x546f01bc8958b7c6!2zVG9tYnVjdMO6LCBNYWzDrQ!5e0!3m2!1ses!2sar!4v1680099088733!5m2!1ses!2sar" width="100%" height="700px" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <hr style="width: 80%; margin-top: 150px; border: 1.2px solid black;">

            <div class="swiffy-slider">
                <h1>GALERIA DEL PROYECTO</h1>
                <p class="add">(Desliza de derecha a izquierda para ver mas imagenes)</p>
                <ul class="slider-container">
                    {% for x in range(5) %}
                    <li><img src="https://source.unsplash.com/49b9l_29ceA/1600x900" style="max-width: 100%;height: 800px; width: 100%;"></li>
                    {% endfor %}

                </ul>
                
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            
                <div class="slider-indicators">
                    {% for x in range(5) %}
                    <button class="active"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <h1 class="made-by">MADE BY TEAM LUSSARY</h1>

            

    {% endfor %}
    {% endblock %}
