{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/proyecto.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    {% block title %}
    Fermag S.A.
    {% endblock %}

<body>
    {% block content %}

    <div id="parallax-world-of-ugg">
  
        <section>
          <div class="title">
            <h1>NUESTROS PROYECTOS</h1>
            <h4>Compartimos nuestros grandes proyectos</h4>
          </div>
        </section>
        
        <section>
            <div class="parallax-one">
              <h2>PITO</h2>
            </div>
        </section>

        
        <section>
          <div class="parallax-two">
            <h2>PENE</h2>
          </div>
        </section>
        
        <section>

        </section>
        
        <section>
          <div class="parallax-three">
            <h2>BANANA</h2>
          </div>
        </section>
        
          
        </div>
    {% endblock %}
</body>