{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/servicios.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    {% endblock %}
    
    {% block title %}
    Fermag S.A.
    {% endblock %}

    {% block content %}
    <div class="main">
        <div class="title" style="background:url(https://www.avanzaentucarrera.com/orientacion/comp/uploads/2017/03/domotica-848x449.jpg); object-fit: cover; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
            <h1></h1>
        </div>
        <h1 class="txt">Nuestros Servicios</h1>
        <hr style="width: 20%; border-top: 3px solid rgb(0, 0, 0); margin-top: -30px;">

        <div class="grid-container">
            {% for info in infos %}
            <div class="item">
                <div class="item-img">
                    <h1>{{info.nombre}}</h1>
                </div>
            </div>
            {% endfor %}

        </div>
          
        <h1>Tu mama me la mama</h1>
    </div>
    {% endblock %}

