{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/proyectoss.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

    {% endblock %}
    
    {% block title %}
    Fermag S.A.
    {% endblock %}

    {% block content %}

    {% for descripcion in descripciones %}
    <div class="main">
        <div class="title" style="background:url({{descripcion.fondo}}); object-fit: cover; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
            <h1></h1>
        </div>
    </div>