@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(40, 40, 40);
    line-height: 1;
    margin: 0;
    width: 100%;
    color: #5f89e2;
    font-family: 'Poppins',sans-serif;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main{
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.carta{
  text-align: center;
  justify-content: center;
  align-items: center;
}

form {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 22px;
  color: #363636;
  background-color: aliceblue;
  width: 500px;
  margin: 50px auto;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

input,
textarea {
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#trick{
    opacity: 0;
}

.button-58 {
  align-items: center;
  background-color: rgb(7, 62, 145);
  border: 2px solid rgb(7, 62, 145);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

input, textarea{
  background-color: rgb(190, 190, 190);
  border: 2px solid whitesmoke;
  border-radius: 7px;
  font-family: 'Poppins',sans-serif;

}

textarea{
  width: 100%;
}

.sello{
  width: 110px;
  margin-left: 320px;
  margin-top: -2000px;
}

.redes-sociales {
  margin-bottom: 80px;
}
.redes-sociales i{
  font-size: 20px;
}
.redes-sociales a {
  display: inline-block;
  border-radius: 10%;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 60px;
}

.redes-sociales a:hover {
  cursor: pointer;
}

.whatsapp {
  background-color: #25D366;
  color: #fff;
}

.facebook {
  background-color: #1877F2;
  color: #fff;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
}

.instagram {
  background-color: #C13584;
  color: #fff;
}

@media only screen and (max-width: 1020px) {
  form {
    width: 80%;
  }
  .div-contacto{
    margin-top: 70px;
  }
}

@media only screen and (max-width: 650px) {
  form {
    width: 90%;
    margin: 20px auto;
  }
  .sello{
    display: none;
  }
  .div-contacto{
    margin-top: 70px;
  }
}
@media (max-width: 320px) {
  form {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
  }



}