body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.principio{
    color: white;
    width: 100%;
    height: 600px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
        
    ),
    url(/static/src/ProgramadoresBro.jpeg);
    clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%, 0 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.logo{
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}

.flecha-flecha{
    font-size: 35px;
    text-decoration: none;
    color: white;
}




.frase{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.frase-frase{
    font-size: 30px;
    margin: 100px 300px 0px 300px;
    font-style: italic;
    font-weight: bold;
}

.autor-frase{
    font-size: 15px;
}




.informacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}

.simbolo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quienesSomos{
    width: 33%;
    display: flex;
    flex-direction: column;
}


.titulo-QuienesSomos{
    font-size: 28px;
    margin: 0 35px;
    color: rgb(39, 97, 255);
}

.texto-QuienesSomos{
    font-size: 16px;
    margin: 0 35px;
    letter-spacing: 1px;
    line-height: 20px;
}

.comoEmpezamos{
    width: 33%;
    display: flex;
    flex-direction: column;
}


.titulo-comoEmpezamos{
    font-size: 28px;
    margin: 0 35px;
    color: rgb(39, 97, 255);
}

.texto-comoEmpezamos{
    font-size: 16px;
    margin: 0 35px;
    letter-spacing: 1px;
    line-height: 20px;
}




.queHacemos{
    width: 33%;
    display: flex;
    flex-direction: column;
}


.titulo-queHacemos{
    font-size: 28px;
    margin: 0 35px;
    color: rgb(39, 97, 255);
}

.texto-queHacemos{
    font-size: 16px;
    margin: 0 35px;
    letter-spacing: 1px;
    line-height: 20px;
}




.proyectos{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
    ),
    url(/static/src/galeriaGod.jpeg);
    clip-path: polygon(0 0, 0 0, 0 50%, 0 85%, 0 85%, 50% 100%, 100% 85%, 100% 85%, 100% 50%, 100% 0, 100% 0, 50% 15%);
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
}

.titulo-proyectos{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 0px;
    color: white;
}

.barra-proyectos{
    font-size: 40px;
    margin-top: 0px;
    color: white;
}

.boton-proyectos{
    border: solid 2px white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.boton-proyectos:hover{
    background-color: white;
    /* color: rgb(118, 173, 255); */
    color: black;
}

.frase-proyectos{
    font-size: 25px;
    font-style: italic;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.autor-proyectos{
    font-size: 15px;
    color: white;
}

/* PIBES */
.pibes{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
}

.titulo-pibes{
    text-align: center;
    font-family: 'Rajdhani', cursive;
}

.tarjetas-pibes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjetas-pibes2{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjetas-pibes3{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arriba-tarjetas-pibes2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.abajo-tarjetas-pibes2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}


.arriba-tarjetas-pibes3{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}


.medio-tarjetas-pibes3{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.abajo-tarjetas-pibes3{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}



.morais-pibes, .fini-pibes, .salonia-pibes, .diaz-pibes, .blazquez-pibes{
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px 20px 50px 20px;
    background-color: white;
    transition: transform .2s; 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.morais-pibes:hover, .fini-pibes:hover, .salonia-pibes:hover, .diaz-pibes:hover, .blazquez-pibes:hover{
    transform: scale(1.2); 
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.foto-pibes{
    border: 2px solid black 2px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transition: transform .2s; 
}

.foto-pibes:hover {
    transform: scale(1.1); 
}

.nombre-pibes{
    font-size: 18px;
}

.titulo-tarjetas-pibes{
    font-size: 16px;
}

.link1-pibes{
    text-decoration: none;
    border: 2px solid rgb(39, 97, 255);
    border-radius: 5px;
    background-color: rgb(39, 97, 255);
    color: white;
    padding: 8px;
    font-weight: bold;
}

.link1-pibes:hover{
    background-color: white;
    color: rgb(39, 97, 255);
}

.link2-pibes{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
    font-weight: bold;
}

.link2-pibes:hover{
    background-color: white;
    color: black;
}



/* CONTACTANOS */

.contactanos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-contactanos{
    text-align: center;
}

.botones-contactanos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.botones-contactanos2{
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.arriba-botones-contactanos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -75px;
}

.abajo-botones-contactanos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.instagram, .whatsapp, .twitter, .tiktok{
    margin: 0 15px 0 15px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.instagram:hover{
    background: 
    linear-gradient(
        to right,
        rgb(137, 0, 250),
        rgb(255, 0, 221),
        rgb(250, 0, 96),
        rgb(250, 92, 0),
        rgb(250, 212, 0)
    );
    color: white;

    box-shadow: 0px 0px 5px 2px rgba(181,0,125,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(181,0,125,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(181,0,125,0.75);
}

.whatsapp:hover{
    background-color: rgb(0, 226, 0);
    color: white;

    box-shadow: 0px 0px 5px 2px rgba(0,202,11,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,202,11,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,202,11,0.75);
}

.twitter:hover{
    background-color: rgb(0, 153, 255);
    color: white;

    box-shadow: 0px 0px 5px 2px rgba(0,83,181,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,83,181,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,83,181,0.75);
}

.tiktok:hover{
    background: 
    linear-gradient(
        to right,
        rgb(0, 255, 242),
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(255, 0, 221)
    );
    color: white;

    box-shadow: 0px 0px 5px 2px rgba(51,51,51,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(51,51,51,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(51,51,51,0.75);
}

.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0 100%, 50% 100%, 100% 100%, 100% 85%, 100% 50%, 100% 0, 100% 0, 50% 15%);
}


/* RESPONSIVE */

@media (max-width: 1148px) {
    .tarjetas-pibes{
        display: none;
    }
    
    .tarjetas-pibes2{
        display: flex;
    }

    .tarjetas-pibes3{
        display: none;
    }

    .morais-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .fini-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .salonia-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .diaz-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .blazquez-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 1048px) {
    .frase-frase{
        font-size: 28px;
        margin: 100px 225px 0px 225px;
    }

    .autor-frase{
        font-size: 14px;
    }
}

@media (max-width: 919px) {
    .titulo-QuienesSomos{
        font-size: 24px;
        margin: 0 25px;
    }
    
    .texto-QuienesSomos{
        font-size: 13px;
        margin: 0 25px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }

    .titulo-comoEmpezamos{
        font-size: 24px;
        margin: 0 25px;
    }
    
    .texto-comoEmpezamos{
        font-size: 13px;
        margin: 0 25px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }
    
    .titulo-queHacemos{
        font-size: 24px;
        margin: 0 25px;
    }
    
    .texto-queHacemos{
        font-size: 13px;
        margin: 0 25px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }
}

@media (max-width: 870px) {
    .frase-frase{
        font-size: 26px;
        margin: 100px 150px 0px 150px;
    }

    .autor-frase{
        font-size: 13px;
    }
}

@media (max-width: 810px) {
    .tarjetas-pibes{
        display: none;
    }
    
    .tarjetas-pibes2{
        display: none;
    }

    .tarjetas-pibes3{
        display: flex;
    }

    .morais-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .fini-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .salonia-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .diaz-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .blazquez-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 688px) {
    .frase-frase{
        font-size: 24px;
        margin: 100px 75px 0px 75px;
    }

    .autor-frase{
        font-size: 12px;
    }

    .titulo-QuienesSomos{
        font-size: 20px;
        margin: 0 15px;
    }
    
    .texto-QuienesSomos{
        font-size: 10px;
        margin: 0 15px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }

    .titulo-comoEmpezamos{
        font-size: 20px;
        margin: 0 15px;
    }
    
    .texto-comoEmpezamos{
        font-size: 10px;
        margin: 0 15px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }
    
    .titulo-queHacemos{
        font-size: 20px;
        margin: 0 15px;
    }
    
    .texto-queHacemos{
        font-size: 10px;
        margin: 0 15px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }

}

@media (max-width: 574px) {
    .botones-contactanos{
        display: none;
    }

    .botones-contactanos2{
        display: flex;
    }

    .arriba-botones-contactanos{
        margin-bottom: 20px;
        margin-top: -10px;
    }
}

@media (max-width: 540px) {
    .tarjetas-pibes{
        display: flex;
        flex-direction: column;
    }
    
    .tarjetas-pibes2{
        display: none;
    }

    .tarjetas-pibes3{
        display: none;
    }

    .morais-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .fini-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .salonia-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .diaz-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .blazquez-pibes{
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 510px) {
    .frase-frase{
        font-size: 22px;
        margin: 100px 20px 0px 20px;
    }

    .autor-frase{
        font-size: 11px;
    }

    .informacion{
        flex-direction: column;
    }
    
    .quienesSomos{
        width: 100%;
    }
    
    .titulo-QuienesSomos{
        font-size: 28px;
        margin: 0 35px;
    }
    
    .texto-QuienesSomos{
        font-size: 16px;
        margin: 0 35px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    
    .comoEmpezamos{
        width: 100%;
    }
    
    .titulo-comoEmpezamos{
        font-size: 28px;
        margin: 0 35px;
    }
    
    .texto-comoEmpezamos{
        font-size: 16px;
        margin: 0 35px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    
    .queHacemos{
        width: 100%;
    }
    
    
    .titulo-queHacemos{
        font-size: 28px;
        margin: 0 35px;
    }
    
    .texto-queHacemos{
        font-size: 16px;
        margin: 0 35px;
        letter-spacing: 1px;
        line-height: 20px;
    }

    .hr{
        width: 70%;
        color: black;
        margin-top: 20px;
    }

}

@media (max-width: 472px) {
    .frase-frase{
        font-size: 20px;
        margin: 100px 5px 0px 5px;
    }

    .autor-frase{
        font-size: 10px;
    }
}

@media (max-width: 290px) {

    .titulo-contactanos{
        font-size: 28px;
    }
    .botones-contactanos{
        display: flex;
        flex-direction: column;
    }

    .botones-contactanos2{
        display: none;
    }

    .instagram, .whatsapp, .twitter, .tiktok{
        margin-bottom: 10px;
    }
}
