body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

/* PRINCIPIO */

.principio{
    background-image: url(/static/src/matrix.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.principio-adelante{
    width: 100%;
    background-color: rgb(20, 20, 20);
    clip-path: polygon(40% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 15% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.principio-adelante-logoUnido{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.principio-adelante-logoUnido-imagen{
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.principio-adelante-logoUnido-nombre{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: -100px;
}

.principio-adelante-hr{
    width: 30%;
    margin-right: 70px;
}

.principio-adelante-frase{
    color: rgb(145, 145, 145);
    margin-right: 70px;
    margin-left: 750px;
    font-size: 30px;
    text-align: right;
    font-style: italic;
}

.principio-adelante-autor{
    color: rgb(145, 145, 145);
    margin-right: 70px;
    margin-left: 750px;
    font-size: 20px;
    text-align: right;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 100px;
}

/* CONTENIDO */

.contenido{
    border: 12px solid black;
    background-color: transparent;
    margin: 50px 50px 0px 50px;
    border-radius: 8px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
}

.contenido-camara{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    margin-top: 5px;
    margin: 5px 50% 0 50%;
}

.contenido-lados{
    display: flex;
    flex-direction: row;
}

.contenido-izquierda{
    width: 70%;
}

.contenido-izquierda-titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenido-izquierda-titulo-decoracion{
    width: 150px;
    height: 150px;

}

.contenido-izquierda-titulo-titulo{
    color: white;
    font-size: 45px;
    margin-left: -80px;
    color: rgb(100, 100, 255);
}

.contenido-izquierda-parrafo{
    color: black;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: -10px;
}

.contenido-derecha{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.contenido-derecha-imagen{
    width: 100px;
    height: 100px;
    margin: 10px 0 10px 0;
}

/* PROYECTOS */

.proyectos{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyectos-titulo{
    font-family: system-ui;
    color: transparent;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        rgb(0, 204, 255),
        rgb(0, 0, 226)
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.proyectos-frase{
    color: rgb(145, 145, 145);
    font-style: italic;
    margin-top: 0px;
}

.proyectos-hr{
    width: 15%;
}

.proyectos-subtitulo{
    color: white;
    font-weight: bold;
}


.proyectos-imagenes{
    display: flex;
    width: 650px;
    height: 350px;
}

.proyectos-imagenes-imagen1{
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
}

.proyectos-imagenes-imagen3{
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}

.proyectos-imagenes img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.proyectos-imagenes img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.proyectos-boton {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
    margin: 40px 0 40px 0;
  }
  
  .proyectos-boton:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }


  .estilo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
  }
  
  .estilo-izquierda{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estilo-izquierda-texto-div{
    width: 80%;
    text-align: left;
  }

  .estilo-izquierda-texto{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

  }

  .estilo-izquierda-imagen-div{
    display: flex;
    margin-top: 50px;
  }

  .estilo-izquierda-imagen{
    width: 350px;
    height: 250px;
    object-fit: contain;
  }

  .estilo-derecha{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estilo-derecha-texto-div{
    width: 80%;
    text-align: right;
  }

  .estilo-derecha-texto{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

  }

  .estilo-derecha-imagen-div{
    display: flex;
    margin-top: 50px;
  }

  .estilo-derecha-imagen{
    width: 350px;
    height: 250px;
  }

  .fechaBinaria{
    font-size: 12.5px;
    margin-top: 0px;
    margin-bottom: 150px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
    background-color: rgb(230, 230, 230);
  }

.pibes-titulo{
    text-align: center;
    font-family: system-ui;
    color: transparent;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        rgb(100, 100, 100),
        rgb(0, 0, 0)
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.pibes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px 0 20px;
}

.pibes:hover > :not(:hover){
    opacity: .4;
}

.pibes-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.pibes-pibe{
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    position: relative;
    background-color: black;
    transition: .3s;
}

.pibes-pibe-nombre{
    font-weight: bold;
    opacity: 1;
    margin-top: 200px;
    position: absolute;
    color: white;
}

.pibes-pibe-texto{
    font-style: italic;
    margin-top: 250px;
    position: absolute;
    color: white;
}

.pibes-pibe-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: .5;
}

.footer{
    background-color: rgb(20, 20, 20);
    width: 100%;
}


.contactanos{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.contactanos-titulo{
    text-align: center;
    font-family: system-ui;
    color: transparent;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        rgb(255, 255, 255),
        rgb(170, 170, 170)
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.contactanos-hr{
    width: 10%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.contactanos-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contactanos-botones-div{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.contactanos-botones-boton{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    transition: .2s;
}

.contactanos-boton-img{
    width: 70%;
    height: 70%;
}

.contactanos-botones-boton:hover{
    transform: scale(1.2);
}

.contactanos-botones-hr1{
    width: 400px;
    margin-left: 0px;
}

.contactanos-botones-hr2{
    width: 400px;
    margin-right: 0px;
}



.division-contactanosEinstein{
    width: 100%;
    height: 7.5px;
    background-color: rgb(15, 15, 15);
}


.footerFondo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.footerFondo-imagen-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20px;
    align-items: center;
    margin-top: 5%;
}

.footerFondo-imagen{
    width: 12%;
}

.footerFondo-copyright-div{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
}

.footerFondo-copyright{
    font-size: 12px;
    color: gray;
}

.footerFondo-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 75px;
}

.footerFondo-links-informacionLegal, .footerFondo-links-politicaPrivacidad{
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: 0 10px 0 10px;
    font-style: oblique;
}

.footerFondo-links a{
    color: white;
}

.footerFondo-links-hr{
    height: 15px;
}


/*

.einstein{
    width: 100%;
    display: flex;
    height: 300px;
    background-color: black;
    flex-direction: row;
}

.einstein-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    width: 40%; 
}

.einstein-texto{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.einstein-frase{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 70%;
}

.einstein-autor{
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    width: 70%;
}

*/

/*RESPONSIVE DEL PRINCIPIO*/
@media (max-width: 550px){

    .principio-adelante-logoUnido-imagen{
        width: 300px;
        height: 300px;
    }
    
    .principio-adelante-logoUnido-nombre{
        font-size: 30px;
        margin-top: -80px;
    }
    
    .principio-adelante-hr{
        width: 40%;
        margin-right: 20px;
    }
    
    .principio-adelante-frase{
        margin-right: 20px;
        font-size: 20px;
    }
    
    .principio-adelante-autor{
        margin-right: 20px;
        font-size: 15px;
    }
    
}

@media (max-width: 360px){

    .principio-adelante-logoUnido-imagen{
        width: 200px;
        height: 200px;
    }
    
    .principio-adelante-logoUnido-nombre{
        font-size: 20px;
        margin-top: -40px;
    }
    
    .principio-adelante-hr{
        width: 40%;
        margin-right: 20px;
    }
    
    .principio-adelante-frase{
        font-size: 20px;
    }
    
    .principio-adelante-autor{
        font-size: 15px;
    }
    
}

/*RESPONSIVE DE LA COMPU DE ARRIBA*/
@media (max-width: 850px){


    .contenido{
        margin: 30px 30px 0px 30px;
    }

    .contenido-lados{
        flex-direction: column;
    }

    .contenido-izquierda{
        width: 100%;
    }

    .contenido-derecha{
        width: 100%;
        flex-direction: row;
    }
    
    .contenido-derecha-imagen{
        margin: 20px 10px 0 10px;
    }

    .contenido-izquierda-parrafo{
        line-height: 22px;
        margin-right: 22px;
    }
}

@media (max-width: 675px){

    .contenido{
        margin: 30px 20px 0px 20px;
    }

    .contenido-derecha-imagen{
        width: 50px;
        height: 50px;
        margin: 20px 5px 0 5px;
    }
}

@media (max-width: 460px){
    
    .contenido{
        margin: 20px 10px 0px 10px;
    }

    .contenido-izquierda-titulo-decoracion{
        width: 75px;
        height: 75px;
    
    }
    
    .contenido-izquierda-titulo-titulo{
        font-size: 30px;
        margin-left: -40px;
    }
    
    .contenido-izquierda-parrafo{
        font-size: 15px;
        letter-spacing: 0.3px;
        line-height: 20px;
    }
}

@media (max-width: 420px){
    
    .contenido{
        margin: 18px 8px 0 8px;
        border: 8px solid black;
    }

    .contenido-derecha-imagen{
        width: 25px;
        height: 25px;
        margin: 20px 2px 0 2px;
    }
}

@media (max-width: 340px){
    
    .contenido{
        margin: 15px 5px 0 5px;
        border: 6px solid black;
    }

    .contenido-izquierda-titulo-decoracion{
        width: 50px;
        height: 50px;
    
    }
    
    .contenido-izquierda-titulo-titulo{
        font-size: 20px;
        margin-left: -25px;
    }
    
    .contenido-izquierda-parrafo{
        font-size: 12px;
        letter-spacing: 0.1px;
        line-height: 15px;
    }
}

/*RESPONSIVE DE LOS PROYECTOS*/
@media (max-width: 700px){
    
    .proyectos-imagenes{
        width: 400px;
        height: 350px;
    }
    
    .proyectos-imagenes img:hover{
        width: 175px;
    }

}

@media (max-width: 600px){
    
    .proyectos-titulo{
        font-size: 50px;
        text-align: center;
    }
    
    .proyectos-frase{
        font-size: 15px;
    }
    
    .proyectos-subtitulo{
        font-size: 15px;
    }

}

@media (max-width: 600px){
 
    .proyectos-imagenes{
        width: 350px;
        height: 325px;
    }
    
    .proyectos-imagenes img:hover{
        width: 100px;
    }

}

@media (max-width: 350px){
    
    .proyectos-imagenes{
        width: 250px;
        height: 300px;
    }
    
    .proyectos-imagenes img:hover{
        width: 75px;
    }

    .proyectos-titulo{
        font-size: 35px;
    }
    
    .proyectos-frase{
        font-size: 12px;
    }
    
    .proyectos-subtitulo{
        font-size: 12px;
    }

}

@media (max-width: 280px){

    .proyectos-imagenes{
        width: 200px;
        height: 250px;
    }
    
    .proyectos-imagenes img:hover{
        width: 50px;
    }

}

/*RESPONSIVE DE LOS ESTILOS*/
@media (max-width: 690px){

    .estilo{
        flex-direction: column;
      }
      
      .estilo-izquierda{
        width: 100%;
      }

      .estilo-hr{
        width: 80%;
      }
    
      .estilo-derecha{
        width: 100%;
      }

}

@media (max-width: 380px){
      
    .fechaBinaria{
        font-size: 10px;
        letter-spacing: 5px;
      }

}

/*RESPONSI' E' LO' PIBE'*/
@media (max-width: 280px){

    .pibes-titulo{
        font-size: 40px;
    }

}

/*RESPONSIVE DE CONTACTANOS*/
@media (max-width: 530px){
    .contactanos-botones-boton{
        width: 40px;
        height: 40px;
        border: 1.5px solid white;

    }
}

@media (max-width: 400px){

    .contactanos-titulo{
        font-size: 40px;
    }

    .contactanos-botones-boton{
        width: 30px;
        height: 30px;
        border: 1.5px solid white;

    }

}

@media (max-width: 300px){

    .contactanos-titulo{
        font-size: 30px;
    }

    .contactanos-botones-boton{
        width: 20px;
        height: 20px;
        border: 1.5px solid white;

    }
}

/*RESPONSIVE DE EINSTEIN*/
@media (max-width: 790px){

    .einstein{
        height: 250px;
    }
    
    .einstein-img{
        width: 250px;
        height: 250px;
        width: 40%; 
    }

}

@media (max-width: 650px){

    .einstein{
        height: 200px;
    }
    
    .einstein-img{
        width: 200px;
        height: 200px;
        width: 40%; 
    }

}

@media (max-width: 530px){

    .einstein{
        height: 150px;
    }
    
    .einstein-img{
        width: 150px;
        height: 150px;
        width: 40%; 
    }
    
    .einstein-frase{
        font-size: 15px;
    }
    
    .einstein-autor{
        font-size: 12px;
    }

}

@media (max-width: 400px){

    .einstein{
        height: 100px;
    }
    
    .einstein-img{
        width: 100px;
        height: 100px;
        width: 40%; 
    }

    .einstein-frase{
        font-size: 12px;
    }
    
    .einstein-autor{
        font-size: 10px;
    }

}





