body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.principio{
    color: white;
    width: 100%;
    height: 600px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
    ),
    url(/static/src/ProgramadoresBro.jpeg);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    margin: 0;
    background-size: cover;
    background-position: center center;
}

.logo{
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}

.flecha{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-bottom: -15px;
}




.frase{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.frase-frase{
    font-size: 30px;
    margin: 100px 300px 0px 300px;
    font-style: italic;
    font-weight: bold;
}

.autor-frase{
    font-size: 15px;
}




.informacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.simbolo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quienesSomos{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.titulo-QuienesSomos{
    font-size: 25px;
    margin: 0 35px;
}

.texto-QuienesSomos{
    font-size: 15px;
    margin: 0 35px;
}

.comoEmpezamos{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.titulo-comoEmpezamos{
    font-size: 25px;
    margin: 0 35px;
}

.texto-comoEmpezamos{
    font-size: 15px;
    margin: 0 35px;
}




.queHacemos{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.titulo-queHacemos{
    font-size: 25px;
    margin: 0 35px;
}

.texto-queHacemos{
    font-size: 15px;
    margin: 0 35px;
}




.proyectos{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
    ),
    url(/static/src/galeriaGod.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
}

.titulo-proyectos{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 0px;
    color: white;
}

.barra-proyectos{
    font-size: 40px;
    margin-top: 0px;
    color: white;
}

.boton-proyectos{
    border: solid 2px white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.boton-proyectos:hover{
    background-color: white;
    /* color: rgb(118, 173, 255); */
    color: black;
}

.frase-proyectos{
    font-size: 25px;
    font-style: italic;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.autor-proyectos{
    font-size: 15px;
    color: white;
}